@font-face {
  font-family:"Cera Pro" ;
  src: url("../font/CeraPro-Regular.ttf");
}
@font-face {
  font-family:"Cera Pro Bold";
  src: url("../font/CeraPro-Medium.ttf");
}
*{
  margin: 0;
  padding: 0;
  font-family: Cera Pro;
  font-weight: 500;
}
.container {
  width: 1200px;
  height: 610px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: #FBFBFB;
}
.frame1 {
  display: flex;
  height: 250px;
}
.frame2 {
  display: flex;
  height:90px;
  background: linear-gradient(to right, #EDF6E0, #52C368);
  justify-content: space-between;
}
.frame3 {
  display: flex;
  height: 250px;
  border-bottom: 1px solid #46A35833;
}
.garden{
  margin: 25px;
}
.caption {
  color:#3D3D3D;
  margin-top: 15px;
  font-family:"Cera Pro Bold";
  font-weight: 600;
  font-size: 17px;
}
.paragraph{
  color: #727272;
  margin-top: 9px;
  width: 200px;
  font-size: 14px;
  line-height: 22px;
}
.address{
  margin-top: 15px;
}
.join{
  height:40px;
  width: 100px;
  font-family: "Cera Pro Bold";
  font-size: 18px;
  color:white;
  background-color: #46A358;
  border-top-right-radius:10px;
  border-bottom-right-radius:10px ;
}
.add{
  display: flex;
  margin-top: 25px;
  margin-bottom: 18px;
  width: 354px;
}
.in {
  width: 300px;
  height: 40px;
}
.paragraph2 {
  line-height: 23px;
  color: #727272;
  font-size: 13px;
  width:354px;
}
.group{
  width:150px;
  height: 34px;
  margin-left: 20px;
}
.map{
  width: 205px;
  height: 44px;
  color: #3D3D3D;
}
.cont {
  display: flex;
  margin-top: 33px;
}
.numb{
  display: flex;
  margin-top: 33px;
  margin-right: 20px;
}
.icon {
  height: 20px;
  width: 20px;
  margin-right: 9px;
}
.text{
 margin-top: 2px;
 color: #3D3D3D;
}
.links{
  display: flex;
  margin-top: 33px;
}
.my-acc{
  margin-left:25px;
  line-height: 33px;
}
.help{
  margin-left: 173px;
  line-height: 33px;
}
.category{
  margin-left:129px;
  margin-right: 173px;
  line-height: 33px;
}
.list-name {
  font-family: "Cera Pro Bold";
  font-weight: 600;
  font-size: 17px;
  color: #3D3D3D;
}
.name{
  font-family: "Cera Pro Bold";
  font-weight: 600;
  font-size: 17px;
  color: #3D3D3D;
  line-height: 16px;
  margin-bottom: 20px;
}
.social-media {
  display: flex;
  flex-direction: column;
  width: 224px;
  height: 154px;
  margin-top: 33px;
  font-size: 17px;
}
.icons{
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 33px;
}
.media {
  width: 30px;
  padding: 5px;
  border: 1px solid #0d8f3f;
  border-radius: 3px;
  cursor: pointer;
}
.pay{
  width: 224px;
  height: 26px;
  margin-top: 13px;
}
.rights{
  margin-top: 20px;
  text-align: center;
}