$text-muted: #cccccc;
$text-highlight: #F0145A;
$divider-color: #666666;
$parag-color:#FFFFFF;
$icon-width:94px;
$icon-height:94px;
*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}
.splash{
  background: linear-gradient( to right top, #643E72 1%, #323264 50%, #323264 100%);
  height: 2300px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.header{
  display: flex;
  justify-content:space-between;
  padding: 50px;
  margin: 0 50px 0 50px;
}
@media screen and (max-width: 768px) {
 .header{
    margin: 0;
  }
}
.caption{
  color:white;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .caption{
    margin-top: 5px;
  }
}
span{
  color:#F0145A;
}
.law{
  padding: 10px 5px;
  color:white;
  font-size: 10px;
  font-weight: 600;
}
.top-bar{
  display: flex;
  flex-direction: column;
}
.navigation{
  display: flex;
  float: right;
  gap:10px;
}
@media screen and (max-width: 768px) {
  .navigation{
    position: absolute;
    top:20px;
    left:50px;
  }
 }
.lang{
  display: flex;
  padding-top: 5px;
  gap:15px;
}
.lang-change{
  color: white;
  font-weight: 700;
  font-size: 12px;
  gap:15px;
}
.lang-change-hover{
  color: white;
  font-weight: 700;
  font-size: 12px;
  gap:15px;
  background-color: #F0145A;
  border-radius: 20%;
}

.location, .phone{
  color: white;
  padding-top: 5px;
}
.facebook{
  width:24px;
  height: 24px;
}
.navig-list{
  float: right;
}
@media screen and (max-width: 768px) {
  .navig-list{
    position: absolute;
    bottom: 82%;
    left: 50px;
  }
 }
.menu{
  display: flex;
  gap:15px;
  justify-content: end;
  margin-top: 10px;
}
.item{
  color: white;
  font-weight: 600;
}
.h-letter{
  position: relative;
  width: 872.34px;
  height: 1000px;
  left: 630px;
  top: 20px;
}
.legal{
  font-size: 38px;
  font-weight: 700;
  line-height: 46.32px;
  text-align: center;
  position: absolute;
  bottom: 440px;
  left: 800px;
  color:white;
}
@media screen and (max-width:768px) {
  .h-letter{
   width: 700px;
   height: 968px;
   position: absolute;
   left: 100px;
  }
}
.arrow-btn { 
  position: absolute;
  left: 960px;
  bottom: -50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.arrow {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #ffffff; 
  border-radius: 50%;
  position: relative;
}
.arrow::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-right: 2px solid #ffffff; 
  border-bottom: 2px solid #ffffff;
  transform: translate(-50%, -50%) rotate(45deg);
}
.arrow-btn:hover .arrow {
  border-color: #ff0033; 
}
.arrow-btn:hover .arrow::after {
  border-color: #ff0033; 
}
.select{
  display: flex;
  align-items: center;
  margin-top: 90px;
}
.divider {
  width: 3px;
  height: 200px;
  background-color:$divider-color;
  margin: 0 20px;
}
.left-section {
  flex: 1;
  text-align: right;
  padding-right: 20px;
}
.text-hover{
  margin: 10px 0;
  color:$text-highlight;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.text {
  margin: 10px 0;
  font-size: 30px;
  font-weight: bold;
  color:$text-muted;
  cursor: pointer;
} 
.text:hover{
  color:$text-highlight;
}
.right-section {
  flex: 2;
 
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
    color:$parag-color;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    color:$parag-color;
    width: 900px;
  }
}
.services{
  max-width:80% ;
  position: relative;
  left:300px;
  margin-top: 100px;
}
.services__button{
  background-color: transparent;
  color:#F0145A;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 2px;
}
.services__caption{
  color:#F0145A;
  font-weight: 700;
  font-size: 38px;
}
.services__menu{
  display: flex;
  margin-top: 50px;
}
.services__menu2{
  display: flex;
  margin-top: 100px;
}
.icon{
  width:$icon-width;
  height:$icon-height;
}
.services__menu__item{
  width:493px;
  height: 164px;
  margin: 10px;
}
h1{
  font-size:22px;
  color:#24A3FF;
  font-weight: 700;
  margin-top: 10px;
}
.description{
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color:#FFFFFF;
margin-top: 10px;
}
.spacer{
  height:60px;
}
.frame3{
  display: flex;
  justify-content: center;
}
.frame3__worker{
  width: 400px;
  height: 298px;
  border-radius: 12px 0px 0px 12px;
}
.frame3__partner{
  background-color: #d2cccc65;
  width: Fill (1,600px)px;
  height: Hug (298px)px;
  border-radius: 0px 12px 0px 12px;
  opacity: 0px;
}
.frame3__span{
  color:#24A3FF;
  font-size: 14px;
  font-weight: 700;
  margin-top: 70px;
  margin-left: 30px;
}
.frame3__description{
  width: 980px;
  font-size: 38px;
  font-weight: 700;
  line-height: 46.32px;
  text-align: left;
  margin-left: 30px;
  color:#F0145A;
}
.frame3__rank, .frame3__name{
  margin-left: 30px;
  color:$divider-color;
  font-weight: 700;
  margin-top: 10px;
}
.frame3__rank{
  font-size: 14px;
  margin-top: 9px;
  opacity: 0.5;
}
.pagination{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.pagination_button{
  margin: 5px;
  padding: 6px;
  border-radius: 100%; 
  background-color:#24A3FF;
}
.pagination_button_lighter{
  padding: 6px;
  border-radius: 100%; 
  background-color:#24A3FF;
  opacity: 20%;
  margin: 5px;
}
.trust{
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  color:#323264;
}
.trusted-list
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 20px;
    margin: 0;
  
    li {
      text-align: center;
  
      img {
        max-width: 100%;
        height: auto;
        display: block;
      }
    }
  }
.public__button{
  background-color: transparent;
  color:#24A3FF;
  font-weight: 700;
  margin-left: 190px;
  margin-top: 30px;
  cursor: pointer;
}
.public__caption{
  color:#F0145A;
  font-weight: 700;
  font-size: 38px;
  margin-left: 190px;
  margin-top: 30px;
}
.recommended{
  background-color:#F5F5FA;
}
.public_container{
  display: flex;
  margin-left: 150px;
}
.row{
  display: inline-block;
  flex-direction: column;
  background-color: #FFFFFF;
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 70px;

  .public_image{
    width: 513.33px;
    height: 200px;
    border-radius: 8px 8px 0px 0px;
  }
   .title{
      width: 453.33px;
      color:#24A3FF;
      font-size:16px;
      margin-left: 30px;
      margin-top: 30px;
  }
  .data{
    margin-left: 30px;
    margin-top: 15px;
    color:#B3B3BA;  
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
    letter-spacing: 1px;
    text-align: left;
  }
  .line{
    width: 453.33px;
    height: 4px;
    margin: 15px 0 15px 30px;
    background-color: #E6E6F0;
  }
  .paragraph{
    width: 453.33px;
    height: 44px;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
}
.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #f1f1f1;
  font-size: 14px;
  color: #555;
  border-top: 2px solid #E6E6F0; ;

  .social-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  .email-link {
    color: #4a90e2;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
  .address-info{
    margin-left:100px;
  }
  .contact-details{
    display: flex;
  }
  p {
    margin: 0;
    line-height: 1.6;

    .dot {
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #999;
      border-radius: 50%;
      margin: 0 8px;
      vertical-align: middle;
    }
  }

  .map-link {
    color: #4a90e2;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    text-align: right;
    color: #999;
    margin-right: 150px;
  }
}
